body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', 'sans-serif';
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

.header,
.footer {
    background-color: #1F2937;
}

.header .logo{
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    list-style-type: none;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}